.form {
	 position: relative;
	 margin: 0 auto;
	 width: 400px;
	 padding: 20px;
 }
.form .title{
	font-size: 36px;
	line-height: 36px;
	margin: 12px;
	text-align: center;
}
.form .input {
	margin: 6px;
}
.form .submit {
	float: right;
}